<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acerca de NoteLook</title>
</head>
<body>
    <h1>Acerca</h1>
    <p><b>NoteLook</b> es un proyecto que pretender facilitar la tediosa tarea de hacer apuntes en el cuaderno, minimizandolo a solo copiar texto de cualquier sitio web y convertirlo en apunte de cuaderno</p>
</body>
</html>